# Python
__pycache__/
*.py[cod]
*.so
.Python

# Streamlit
.streamlit/secrets.toml

# Ambiente virtual
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dados sensíveis (opcional, se quiser proteger)
# *.parquet
# *.xlsx