[firebase]
apiKey = "COLOQUE_AQUI"
authDomain = "COLOQUE_AQUI"
projectId = "COLOQUE_AQUI"
storageBucket = "COLOQUE_AQUI"
messagingSenderId = "COLOQUE_AQUI"
appId = "COLOQUE_AQUI"
databaseURL = "COLOQUE_AQUI"
